atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.local.symlink

ssh.symlink/dgoncharov*
ssh.symlink/known_hosts

vim/.netrwhist
vim/bundle
!vim/bundle/vundle
